body { 
    padding-top: 100px; 
}

header {
    padding: 50px 0;
}
  
section {
    padding: 100px 0;
}

dt {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
}
  
dd {
    margin-left: 0px;
}

.accordion-button  {
    display: inline;
    color: white;
    background-color: #01283c;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #01283c;
}