html, body {
    margin:0;
    padding:0;
}

header {
    height: 100px;
    position: sticky; 
    top: 0;
    left: 0;
    background: #01283c;
    width: 100%;
    box-sizing: border-box; 
}


header .logo img {
    padding: 25px;
    height: 50px;
    line-height: 50px;
    float: left;
}

header nav {
    float: right; 
}

header nav ul {
    margin: 0;
    padding: 25px;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: 1.4em;
}

.menu li a:hover,
.menu li a:active {
    color: #fff;
    background-color: #2196f3;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 2.0em;
    cursor: pointer;
    display: none;
    padding: 25px;
}

@media (max-width: 1100px) {
    /*header {
        padding: 0 20px;
    }*/
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute; 
        width: 100%;
        height: calc(100vh - 50px);
        background: #083e58;
        top: 100px;
        left: -100%; 
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}


h1 {
    font-family: sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 20px
}

h2 {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

#about {
    margin: 0 75px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#about p {
    font-family: Times;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

#about #mission {
    flex: 1;
    padding: 2%;
}

#about #goal {
    flex: 1;
    padding: 2%;
}

@media only screen and (max-width: 700px) {
    #about #mission, #about #goal {
        flex-basis: 50%;
    }
}

#news {
    margin: 0 75px;
}

#news ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#news li {
    font-family: Times;
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    list-style-type: none;
    margin: 1.5em 0;
}

#news li a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    word-break: break-all;
}

#news li a:hover {
    text-decoration: underline;
}

#activities {
    margin: 0 60px;
}

#activities ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#activities li {
    list-style-type: none;
    margin: 5px 0 0 0;
}

#activities li .collapsible{
    color: #fff;
    font-family: Times;
    font-size: 20px;
    padding: 15px 15px 0em 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color:#01283c;
    cursor: pointer;
}

#activities li .active, .collapsible:hover {
    background-color: #064a6b;
}

#activities li .collapsible::after{
    content: "\002B";
    color: #f1f1f1;
    font-weight: bold;
    font-size: 50px;
    float: right;
}

#activities li .collapsible .title {
    display:block;
}

#activities li .active:after {
    content: "\2212";
}

#activities li .content {
    font-size: 16px;
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#activities li .content a {
    font-weight: bold;
    color: black
}

#activities li .content a:hover{
    text-decoration: underline;
}

#activities li a{
    color: #fff;
    text-decoration: none;
}

#activities li div b{
    font-weight: 1000;
}

#activities li .content .subcontent {
    margin: 15px 0;
    text-align: left;
}

#activities li .content .subcontent img{
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#committee {
    margin: 0 60px;
}

#committee .swipe{
    overflow: auto;
    white-space: nowrap; 
    scroll-snap-type: x mandatory; 
    display: flex;
    margin: 0;
}

#committee .swipe::-webkit-scrollbar{
    width: 12px;
}

#committee .swipe::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#committee .swipe::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#committee .swipe figure{
    display: inline-block;
    margin:0;
}

#committee .swipe figure img{
    width: 250px;
    height: 300px;
    scroll-snap-align: center;
}

#committee .name {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 25px;
    padding: 5px 0;
}

#committee .position {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 20px;
}

#sponsors {
    display: block;
    text-align: center;
    margin: 0 150px;
}

#sponsors img{
    height: 50px;
    width: auto;
    padding: 15px;
}

#useful_links {
    margin: 0 60px;
    text-align: center;
}

#useful_links ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#useful_links li {
    font-size: 30px;
    list-style: none;
}

#useful_links li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 0 30px 0;
    font-variant: small-caps;
    font-family: sans-serif;
}

#useful_links li a:hover {
    font-weight: bold;
}

#contact_us {
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    background: #01283c;
    width: 100%;
}

#contact_us .menu {
    margin: 0;
    text-align: right;
}

#contact_us .ieee img {
    padding: 25px;
    height: 50px;
    line-height: 50px;
    float: left;
}

#contact_us .menu li {
    display: inline;
    font-size: 50px;
    transition: 0.5s;
}

#contact_us .menu li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-variant: small-caps;
    font-family: sans-serif;
    transition: 0.5s;
}